<%= link_to 'New', new_author_path %>

<h1>INDEX authors</h1>
<% @authors.each do |author| %>
  <h2><%= author.first_name %> <%= author.last_name %></h2>
  <h3><%= author.books %></h3>
  <%= link_to 'Show', author_path(author) %> |
  <%= link_to 'Edit', edit_author_path(author) %> |
  <%= link_to 'Destroy', author_path(author),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
<% end %>