<%= link_to 'Home', books_path %>

<h1>NEW book</h1>
<%= form_with scope: :book, url: books_path, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.label :page_count %><br>
    <%= form.text_field :page_count %>
  </p>

  <p>
    <%= form.label :author %><br>
    <%= collection_select(:book, :author_id, Author.all, :id, :full_name) %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>