<%= link_to 'Home', books_path %> |
<%= link_to 'Edit', edit_book_path(@book) %>

<h1><%= @book.title %></h1>
<h2><%= @book.description %></h2>
<p>Pages: <%= @book.page_count %></p>
<p><%= @book.author_id %></p>